body {
    background-color: lightpink;
}
h1 {
    background-color: lightsalmon;
    color:lightseagreen;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    border: 5px;
}